    <div>
        <img src="/nodejs_logo.png" alt="Logo do node">
    </div>
    
    <footer style="text-align: center;">
        <hr>
        <p>Projeto Node &copy; 2023</p>
    </footer>
</body>
</html>