    <div>
        <a href="/">Home</a> &nbsp;| &nbsp; 
        <a href="contact">Contato</a> &nbsp;| &nbsp;
        <a href="services">Serviços</a> &nbsp;| &nbsp;
        <a href="info">Informações</a> &nbsp;| &nbsp;
    </div>