<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotas - Home</title>
</head>
<body>
    <h1>Bem vindo à página inicial!</h1>
    <h2>Trabalhando com rotas</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum eaque rem cumque nihil sint dolore, corrupti expedita accusantium quod maxime ad voluptates molestias sunt doloremque atque explicabo odit soluta quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti magni inventore nesciunt quaerat ipsum aperiam, maxime eius possimus aliquid mollitia illo accusamus atque, odio aspernatur et cupiditate voluptatibus fugit culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius rem cum reiciendis quos quod, blanditiis modi sed laboriosam delectus adipisci in ad repellat atque, ullam quasi voluptas dolore nihil possimus?</p>
</body>
</html>