<%- include('./partials/header.ejs') %> <!-- RENDERIZA UM CONTEÚDO HTML COMO HTML -->
<%- include('./partials/nav.ejs') %> 

    <h1>Contato</h1>
    <p>quidem tempora, asperiores obcaecati praesentium? Doloribus fuga explicabo vel minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam minima autem nihil officiis laudantium quisquam! Voluptatem earum quisquam ratione, atque ut, odio quae tempora nulla id sit fugit, omnis est!</p>
    <p>Animi voluptas praesentium dolores ea fuga repellendus? Adipisci illo ipsa magni distinctio ratione, voluptatum dolorem eveniet consequuntur, atque quia, temporibus voluptatibus eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facilis consequuntur vero. Laboriosam, eitibus.</p>
    
<%- include('./partials/footer.ejs') %> 