<%- include('./partials/header.ejs') %> <!-- RENDERIZA UM CONTEÚDO HTML COMO HTML -->
<%- include('./partials/nav.ejs') %> 

    <!-- <% const nome = "Itiel" %> EXECULTA UM CÓDIGO JAVACRSIPT NO HTML 
    <% const sobrenome = "Dario" %>

    <h1>HOME</h1>
    <p><%= `${nome} ${sobrenome}` %></p> # EXIBE UM CÓDIGO JS NO HTML (E TRANSFORMA EM UMA STRING)-->

    <h1>HOME</h1>
    
<%- include('./partials/footer.ejs') %> 