<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações</title>
</head>
<body>
    <div>
        <a href="/">Home</a> &nbsp;| &nbsp; 
        <a href="/about">Sobre nós</a> &nbsp;| &nbsp;
        <a href="contact">Contato</a> &nbsp;| &nbsp;
        <a href="services">Serviços</a> &nbsp;| &nbsp;
        <a href="info">Informações</a> &nbsp;| &nbsp;
    </div>

    <h1>Informações</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas praesentium dolores ea fuga repellendus? Adipisci illo ipsa magni distinctio ratione, voluptatum dolorem eveniet consequuntur, atque quia, temporibus voluptatibus eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facilis consequuntur vero. Laboriosam, eius corrupti perferendis ullam voluptatem dolorem natus quidem tempora, asperiores obcaecati praesentium? Doloribus fuga explicabo vel minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam minima autem nihil officiis laudantium quisquam! Voluptatem earum quisquam ratione, atque ut, odio quae tempora nulla id sit fugit, omnis est!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas praesentium dolores ea fuga repellendus? Adipisci illo ipsa magni distinctio ratione, voluptatum dolorem eveniet consequuntur, atque quia, temporibus voluptatibus eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facilis consequuntur vero. Laboriosam, eius corrupti perferendis ullam voluptatem dolorem natus quidem tempora, asperiores obcaecati praesentium? Doloribus fuga explicabo vel minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam minima autem nihil officiis laudantium quisquam! Voluptatem earum quisquam ratione, atque ut, odio quae tempora nulla id sit fugit, omnis est!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas praesentium dolores ea fuga repellendus? Adipisci illo ipsa magni distinctio ratione, voluptatum dolorem eveniet consequuntur, atque quia, temporibus voluptatibus eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facilis consequuntur vero. Laboriosam, eius corrupti perferendis ullam voluptatem dolorem natus quidem tempora, asperiores obcaecati praesentium? Doloribus fuga explicabo vel minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam minima autem nihil officiis laudantium quisquam! Voluptatem earum quisquam ratione, atque ut, odio quae tempora nulla id sit fugit, omnis est!</p>
</body>
</html>