<h1>Serviços</h1>

<% if(servicos.length > 0){ %>
    <% servicos.forEach(servicos => { %>
        <h3><%= servicos.titulo_servico %></h3>
        <p><%= servicos.descricao %></p>
        <hr>
    <% }) %>
<% } else { %>
    <p>Não foram encontrados serviços!</p>  
<% } %>